  {{ title }} | Your Name
  


  
    
      
        Home
        About
        Projects
        Contact
      
    
  
  
  
    {{ content | safe }}
  
  
  
    © 2025 Your Name. All rights reserved.