<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | LUQMAN ALIF</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    {{ content | safe }}
  </main>
  
  <footer>
    <p>© 2025 Luqman Alif. All rights reserved.</p>
  </footer>
  
  <!-- Add these script tags before the closing body tag -->
  <script src="/assets/js/lava-lamp.js"></script>
  
</body>
</html>