---
layout: layouts/base.njk
title: Home
---

<section class="hero">
  <h1>LUQMAN ALIF</h1>
</section>

<section class="intro">
  <p>I make stuff, mainly digital. Here you can find my writings, art and projects.</p>
  <p>I want to do stuff. See if we got common goals. Let's help each other.</p>
  <a href="https://www.bucketlist.net/lists/user/luqmanalif/">My Bucket List</a>
</section>